<div class="auth-form-container form-post">
    <h2>Criando uma publicação:</h2>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">O que gostaria de publicar?</label>
            <textarea name="title" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Pronto">
    </form>
    <a href="/toughts/dashboard" class="btn back">Voltar</a>
</div>