<div class="dashboard-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Nova publicação</a>
    <h2>Minhas publicações</h2>
    <ul>
        {{#each toughts}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>