<div class="dashboard-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Nova publicação</a>
    <h2 class="posts-container-title">Minhas publicações</h2>
    <div class="toughts-container">
        {{#each toughts}}
        <div class="toughts-card">
            <h1 class="title">{{this.title}}</h1>
            <div class="actions">
                <a href="/toughts/edit/{{this.id}}" class="btn edit">Editar</a>
                <form action="/toughts/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn del">
                </form>
            </div>
        </div> 
        {{/each}}
        {{#if emptyToughts}}
        <div class="empty-message-container">
            <p>Ainda não há publicações.</p>
            <a href="/toughts/add" class="btn">Fazer uma publicação.</a>
        </div>
        {{/if}}
    </div>
</div>